body{
margin: 0px;
background-color: yellow;
}
h1 ,h2, h3{
text-align: center;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
section{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100%;
margin: auto;
}
header{
    width: 100%;
    margin: 0px auto;
    background-color: grey;
}